@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../fonts/HelveticaNeue Medium/helvetica-neue-medium.ttf"); }
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/helvetica-neue-regular.ttf"); }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans Bold/2204.ttf"); }
@font-face {
  font-family: "arial";
  src: url("../fonts/arial/9041.ttf"); }
